code/counterfactual_generative_networks-main/mnists/data/*
!code/counterfactual_generative_networks-main/mnists/data/textures/
code/counterfactual_generative_networks-main/imagenet/data/*

code/counterfactual_generative_networks-main/imagenet/experiments/*
!code/counterfactual_generative_networks-main/imagenet/experiments/.placeholder
code/counterfactual_generative_networks-main/mnists/experiments/*
!code/counterfactual_generative_networks-main/mnists/experiments/.placeholder
!code/counterfactual_generative_networks-main/mnists/experiments/cgn_colored_MNIST
!code/counterfactual_generative_networks-main/mnists/experiments/cgn_double_colored_MNIST
!code/counterfactual_generative_networks-main/mnists/experiments/cgn_wildlife_MNIST

code/counterfactual_generative_networks-main/imagenet/runs/*
!code/counterfactual_generative_networks-main/imagenet/runs/.placeholder

code/counterfactual_generative_networks-main/imagenet/weights/*
!code/counterfactual_generative_networks-main/imagenet/weights/.placeholder

tags
**/__pycache__
.ipynb_checkpoints/
*.swp
*.npz
*.mp4
*.pth
!code/counterfactual_generative_networks-main/mnists/experiments/cgn_colored_MNIST/weights/ckp.pth
!code/counterfactual_generative_networks-main/mnists/experiments/cgn_double_colored_MNIST/weights/ckp.pth
!code/counterfactual_generative_networks-main/mnists/experiments/cgn_wildlife_MNIST/weights/ckp.pth
!code/counterfactual_generative_networks-main/imagenet/data/u_fixed.pth
